* {
    --text-font: "Roboto";
}

body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-color: 	#C17E27;
    overflow-y: scroll;
    overflow-x: hidden;
}

@font-face {
    font-family: "Roboto";
    src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}