<div class="content" id="contact">
   <div class="innerContent">
    <h1 class="text">GET IN TOUCH</h1>
    <a href="https://myfanpark.com/en-ZA/tascheburger"><div class="fanperks">
        Persoonlike Video & other coolstuff @myFanPark
    </div></a>
    <a href="https://www.buymeacoffee.com/tasche"><div class="fanperks">
         Book me for an intimate Zoom performance
    </div></a> 
    <a href="https://myfanpark.com/en-ZA/tascheburger/live"><div class="fanperks">
       Online chats, singing lessons, online live show
    </div></a>
    <hr class="break">
    <h1 class="textBookings">BOOKINGS</h1>
    <input type="text" id="inputtext" placeholder="Email Address" > 
    <textarea inputId="textarea" rows="3" style="resize: none;" cols="30" placeholder="Message" ></textarea>
    <button class="send">SEND</button>
   
    <div class="socials">
        <i class="pi pi-instagram"></i>
        <i class="pi pi-facebook"></i>
        <i class="fa-brands fa-spotify"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-solid fa-music"></i>
    </div>
   </div>
</div>