<div class="home">
    <div class="nav">
        <nav class="navbar" id="nav" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed': 'nofixed'">
            <ul>
                <li><a href="#home">Home</a></li>
                <li>|</li>
                <li><a href="#about">About</a></li>
                <li>|</li>
                <li><a href="#gigs">Gigs</a></li>
                <li>|</li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <div class="landing" id="home">
            <div class="info">
                <h1 class="headingText">Tasché</h1>
                <p class="text">Singer | Songwriter</p>
                <p class="text">
                    Tasché Burger is 'n talentvolle Suid-Afrikaanse kunstenaar met 'n sielvolle stem en hartroerende
                    optredes. Sy het haar passie vir musiek ontdek en op 'n opmerklike reis na haar drome vertrek.
                    Tasché se unieke musiekstrekke, wat 'n mengsel van genres soos pop, rock en soul insluit, raak diep
                    aan by luisteraars en neem hulle mee op 'n emosionele reis. Sy is bekend as die wenner van "The
                    Voice South Africa" in 2019 en het sedertdien suksesvolle snitte vrygestel en met bekende
                    kunstenaars saamgewerk. Tasché se warm persoonlikheid, inspirerende boodskappe en onbetwisbare
                    talent maak haar 'n opkomende ster in die Suid-Afrikaanse musiekbedryf.</p>
            </div>
            <div class="image">
                <img class="outNow" src="../../assets/images/prentjiesss.png" alt="Unable to load image">
            </div>
        </div>
       <div class="about">
        <app-about-page>x</app-about-page>
       </div>
       <div class="music">
        <app-music-page></app-music-page>
       </div>
    </div>
</div>