<form class="home">
    <nav class="navbar" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed': 'nofixed'">
        <ul>
            <li><a href="#home">Home</a></li>
            <li>|</li>
            <li><a href="#about">About</a></li>
            <li>|</li>
            <li><a href="#shows">Shows</a></li>
            <li>|</li>
            <li><a href="#albums">Albums</a></li>
            <li>|</li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="content">
        <div class="landing">
            <div class="info">
                <h1 class="headingText">Tasché</h1>
                <p class="text">Singer | Songwriter</p>
                <p class="text">
                    Tasché Burger is 'n talentvolle Suid-Afrikaanse kunstenaar met 'n sielvolle stem en hartroerende
                    optredes. Sy het haar passie vir musiek ontdek en op 'n opmerklike reis na haar drome vertrek.
                    Tasché se unieke musiekstrekke, wat 'n mengsel van genres soos pop, rock en soul insluit, raak diep
                    aan by luisteraars en neem hulle mee op 'n emosionele reis. Sy is bekend as die wenner van "The
                    Voice South Africa" in 2019 en het sedertdien suksesvolle snitte vrygestel en met bekende
                    kunstenaars saamgewerk. Tasché se warm persoonlikheid, inspirerende boodskappe en onbetwisbare
                    talent maak haar 'n opkomende ster in die Suid-Afrikaanse musiekbedryf.</p>
            </div>
            <div class="image">
                <img class="outNow" src="../../assets/images/prentjiesss.png" alt="Unable to load image">
            </div>
        </div>
        <div class="about" id="about">
            <h1 class="headingText">About Tasché</h1>
            <div class="aboutContent">
                <div class="AboutImage">
                    <img class="aboutImg" src="../../assets/images/prentjies2.png" alt="Unable to load image">
                </div>
                <div class="textDiv">
                    <p class="text">

                        Tasché Burger is 'n talentvolle Suid-Afrikaanse kunstenaar wat gehore betower met haar diepsinnige stem
                        en opregte optredes. Gebore en getoë in Suid-Afrika, het Tasché op jong ouderdom haar passie vir musiek
                        ontdek en 'n opmerklike reis aanvaar om haar drome na te jaag.
        
                        Met 'n unieke mengsel van genres, insluitend pop, rock en soul, resoneer Tasché se musiek diep met
                        luisteraars en neem hulle mee op 'n emosionele en introspektiewe musikale reis. Haar kragtige stem en
                        egte storievertelling het haar erkenning en lof, beide plaaslik en internasionaal, opgelewer.
        
                        Tasché het bekendheid verwerf as die wenner van die gewilde Suid-Afrikaanse singkompetisie, "The Voice
                        South Africa," in 2019. Hierdie mylpaal het haar loopbaan versnel en haar in staat gestel om haar
                        uitsonderlike talent aan 'n wyer gehoor te vertoon. Sedertdien het sy 'n reeks treffers uitgebring en
                        saamgewerk met bekende kunstenaars, wat haar posisie as een van Suid-Afrika se opkomende sterre in die
                        musiekbedryf bevestig het.
        
                        Buitendien haar musikale prestasies staan Tasché bekend vir haar warm en egte persoonlikheid, wat 'n
                        persoonlike band skep met haar ondersteuners. Sy gebruik haar platform om ander te inspireer en op te
                        hef, deur boodskappe van positwiteit, selfbemagtiging en die omhelsing van 'n ware identiteit uit te
                        dra.
        
                        Met 'n belowende toekoms voor haar, evolueer Tasché steeds as 'n kunstenaar, terwyl sy haar ambag
                        verbeter en gehore betower met haar betowerende optredes. Haar passie, egtheid en ongeslypte talent maak
                        haar 'n kunstenaar om dop te hou, terwyl sy 'n onuitwisbare indruk maak op die Suid-Afrikaanse
                        musiekbedryf en verder.
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>